.yy-box{
    margin-left: 100px;
}
.yy-box .yy-title-1 {
    font-size: 20px;
    color: cornflowerblue;
    font-weight: 400;
}
.yy-box .yy-title-2 {
list-style-type: decimal;
    font-size: 13px;
}
.yy-box .yy-title-2 li {
    
}
.changeContext{
    background-color: beige;
    margin-left: 10px;
    padding: 4px;
}